<section class="sustainability">
  <div class="icons">
    <img src="../public/ikoner.png" alt="Ikoner" />
    <a href="/"><button>READ MORE</button></a>
  </div>

  <div class="text">
    <h2>SUSTAINABILITY</h2>
    <p>At TÓKI House, sustainability is a fundamental part of who we are and how we operate.</p>
    <p>By prioritizing sustainability, we aim to drive long-term value—for our clients, our communities, and the environment.</p>
  </div>
</section>

<style>
  .sustainability {
    background-color: rgba(186, 200, 217, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 3rem;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
  }
  .sustainability .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .sustainability .icons img {
    max-width: 380px;
    width: 100%;
    height: auto;
  }

  a button {
    font-family: "JosefinSans";
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #8c8c5d;
  }
  a button:hover {
    box-shadow: #8c8c5d 0px 0px 10px 2px;
    cursor: pointer;
  }
  .sustainability .text h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
  .sustainability .text p {
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    max-width: 480px;
  }
  /* RESPONSIV */
  @media (max-width: 900px) {
    .sustainability {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .sustainability .text p {
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
